@font-face {
  font-family: "Antic Didone";
  src: local("Antic Didone"), url(./assets/AnticDidone-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Antic Slab";
  src: local("MyFont"), url(./assets/AnticSlab-Regular.ttf) format("truetype");
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #272727;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

#root {
  overflow: auto;
}

body {
  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: none;
  font-family: "Antic Slab", serif;
  color: black;
  -webkit-font-smoothing: antialiased;
}

.inner-hide {
  opacity: 0;
  visibility: hidden;
  max-height: 0;
}

.inner-show {
  opacity: 1;
  visibility: visible;
}

.outer-hide > div {
  opacity: 0;
  visibility: hidden;
  max-height: 0;
}

.outer-show > div {
  opacity: 1;
  visibility: visible;
}

.modal-outer-container > div {
  left: -30px !important;
}

.modal-inner-container {
  width: 100%;
  height: 100%;
  overflow: scroll;
  transition: opacity ease 0.5s;
}

.modal {
  color: white;
  font-size: 12px;
  width: 700px;
  margin-left: 59px;
  margin-top: 89px;
  padding-bottom: 20px;
}

.modal-title,
.modal-category,
.modal-authors {
  font-family: "Antic Didone", serif;
  font-weight: normal;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  margin-bottom: 12px;
}

.modal-category {
  text-decoration: underline;
}

.modal-title {
  font-size: 42px;
}

.modal-description {
  font-family: "Antic Slab", serif;
  line-height: 30px; /* 150% */
  font-size: 20px;
  margin-top: 56px;
}

.screen-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.screen {
  width: 500px;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.4s;
}

.title-screen-title {
  font-size: 36px;
}

.screen a {
  color: rgb(255, 164, 164);
  text-decoration: none;
}

.title-screen-button-group {
  margin-top: 20px;
}

.button-style {
  all: unset;
  font-size: 24px;
  cursor: pointer;
  text-decoration: underline;
  margin-right: 12px;
}

.button-style:hover {
  color: red;
}

.about-screen-title {
  font-size: 42px;
  font-family: "Antic Didone", serif;
}

.about-screen-description {
  margin-top: 24px;
  margin-bottom: 48px;
}

.emph {
  color: red;
}

.link {
  color: white;
}

.hide {
  opacity: 0;
  visibility: hidden;
  z-index: -99;
  max-height: 0;
}

@keyframes fadeIn {
  1% {
    opacity: 0;
    visibility: hidden;
  }
  2% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes fadeOut {
  1% {
    opacity: 1;
    visibility: visible;
  }
  99% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
